* {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}

.verde {
    background-color: rgb(11, 131, 11);
}

.white {
    color: white;
}

.turq {
    color: turquoise;
}

#line {
    text-decoration-line: line-through;
}