.head {
    background-color:purple;
    text-align: center;
    
}

h1 {
    color: white;
}

.date {
    color: rgb(173, 166, 166);
}





.final {
    background-color: purple;
    text-align:center;

}
#fin {
    color: white;
    font-family: 'Times New Roman', Times, serif;
}